.page {
    background-color: #F4F4F4;
    height: 76vh;

}

.wazzup {
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: white;
    border-radius: 5px;
    box-shadow: 3px 2px 5px 0 rgba(0,0,0,0.16),0 0 0 1px rgba(0,0,0,0.08);
  }

  @import 'https://fonts.googleapis.com/icon?family=Material+Icons';