.container {
    background-color: #f6f6f6;
}

.map {
    
}

.filters {

}

.discover {
    margin: 45px 30px 30px 30px;
}

.restaurant-card {
    margin: 20px 0px 20px 0px;
}

.text-small {
    font-size: small;
}
