<div class="container">
    <div class="left">
        <mat-card class="map">
            View map
        </mat-card>

        <mat-card class="filters">
            <h2>Filters</h2>

            <div>
                <h3>Cuisines:</h3>

                <div *ngFor="let cuisine of cuisines">
                    <mat-checkbox>{{ cuisine }}</mat-checkbox>
                </div>
            </div>

            <div>
                <h3>Types:</h3>

                <div *ngFor="let type of types">
                    <mat-checkbox>{{ type }}</mat-checkbox>
                </div>
            </div>

            <div>
                <h3>Price:</h3>

                <span class="text-small">1</span><mat-slider value="2" min="1" max="3" step="1" tickInterval="1"></mat-slider><span class="text-small">3</span>
            </div>

            <div>
                <h3>Review rating:</h3>

                <span class="text-small">1</span><mat-slider value="5" min="1" max="5" step="1" tickInterval="1"></mat-slider><span class="text-small">5</span>
            </div>

            <div>
                <button mat-flat-button color="primary">Reset filters</button>
                <button mat-flat-button color="primary">Apply filters</button>            
            </div>
        </mat-card>
    </div>

    <div class="right">
        <form [formGroup]="restaurantForm">
            <mat-form-field appearance="outline" class="input">
                <input matInput type="text" formControlName="people" placeholder="Cuisine or restaurant name">
            </mat-form-field>

            <button mat-button>
                <mat-icon>search</mat-icon>
            </button>

            <div>
                <mat-form-field appearance="outline" >
                    <mat-label>People:</mat-label>
                    <input matInput type="text" formControlName="people"/>
                </mat-form-field>

                <mat-form-field appearance="outline" class="input">
                    <mat-label>Date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="date">
                    <mat-hint>MM/DD/YYYY</mat-hint>

                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="outline" >
                    <mat-label>Time</mat-label>
                    <input matInput type="text" formControlName="time"/>
                </mat-form-field>
            </div>
        </form>

        <div class="discover">
            <h3>Discover top results</h3>

            <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                <mat-button-toggle value="Top">Top</mat-button-toggle>
                <mat-button-toggle value="New">New</mat-button-toggle>
                <mat-button-toggle value="Recommended">Recommended</mat-button-toggle>
            </mat-button-toggle-group>
    
            <div class="restaurant-card" *ngFor="let restaurant of restaurants">
                <app-restaurant-card
                    [restaurant]="restaurant">
                </app-restaurant-card>
            </div>
    
            <div class="discover-more">
                <button mat-flat-button color="primary">Discover more</button>
            </div>
        </div>
    </div>
</div>
